
:root{
   --primary-color: #ffffff;
   --secondary-color: #9cc9dc;
   --third-color: #A39B8B;
   --fourth-color: #07020D;
   --fifth-color: F1E9DB;
}

*{
	  font-family: 'News Cycle', sans-serif;
	   box-sizing: border-box;
	   color: var(--fourth-color);
}

body{
	background-color: var(--primary-color);
}


/* LANDING PAGE */
.container{
	display: flex-box;
	align-items: center;
	margin: 20px;
}

.btn{
	color: var(--secondary-color);
}

.employee-btn.manager-btn{
	background-color: var(--primary-color);
	color: var(--secondary-color);
	
}

/* LOGIN PAGE */

.form{
	align-items: center;
	display: box;
	box-sizing: border-box;
}

.grid{
	display: grid;
	margin: 25px;
}

.card{
	padding: 32px;	
}

.label{
	padding:25px;
}


