
:root{
   --primary-color: #ffffff;
   --secondary-color: #9cc9dc;
   --third-color: #A39B8B;
   --fourth-color: #07020D;
   --fifth-color: #F1E9DB;
}

*{
	  font-family: 'News Cycle', sans-serif;
	   box-sizing: border-box;
	   color: var(--fourth-color);
}

body{
	background-color: var(--primary-color);
}


/* LANDING PAGE */
.container{
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 20px;
	padding: 15px 15px;
	
}
.form-container{
	margin: auto;
	display:block;
}


.btn-container a{
    display: block;
    padding: 15px;
    text-align: center;
}

button{
	text-align: center;
	border: 2px solid var( --third-color);
	color: var( --fourth-color);
	text-decoration: none;
	background-color: var(--primary-color); 
	width: 300px;
}


/* LOGIN PAGE */

input{
	text-align: center;
	border: 2px solid var( --third-color);
	color: var( --third-color);
	text-decoration: none;
	background-color: var(--primary-color); 
	width: 300px;
}

label{
	padding:10px;
	display: block;
	
}

.container{
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 20px;
	padding: 15px 15px;
	
}

.smt-btn{
	color: black;
	display: block;
    margin-top: 15px;
    border: 2px solid var(  --fourth-color);
}
.form{
	align-items: center;
	box-sizing: border-box;
	display: table-caption;
}

.grid{
	display: grid;
	margin: 25px;
}

.card{
	padding: 32px;	
}

.label{
	padding:25px;
}


